body{
  background-color: gray;
}

#author{
  width: 250px;
  padding: 5px;
  outline: none;
}

#content{
  width: 250px;
  padding: 5px;
  height: 100px;
  outline: none;
  margin-bottom: 15px;
}

button{
  width: 260px;
  padding: 5px;
  border: none;
}

button:hover{
  cursor: pointer;
  transition: .5s;
  background-color: gray;
  color: black;
  border: none;
}

hr{
  color: black;
}